{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <div class="col-lg-10 ml-lg-auto col-md-12 col-sm-12 content-to-load-section">
      
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="row">
                                <div class="col-10">
                                    <h5 class="logo"> <i class="fas fa-list"></i> LISTE DES ETUDIANTS</h5>
                                </div>
                                <div class="col-2">
                                    <a class="btn btn-default move-btn float-right" href="{{path('etudiants_create')}}"><i class="fas fa-plus-circle"></i> <span class="d-none d-md-inline d-sm-none d-xs-none d-xs-none d-lg-inline">Ajouter</span></a>
                                </div>
                            
                        </div>
                        <hr class="my-1">
                        <div class="col-12 mt-4 table-responsive" id="showStudents">
                            <table class="table table-hover table-bordered" id="table-students" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Matricule</th>
                                        <th>Nom complet</th>
                                        <th>Téléphone</th>
                                        <th>Email</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for etudiant in etudiants %}
                                    <tr class="text-center">
                                        <td>{{etudiant.matricule}}</td>
                                        <td>{{etudiant.prenom}} {{etudiant.nom}}</td>
                                        <td>{{etudiant.tel}}</td>
                                        <td>{{etudiant.email}}</td>
                                        <td>{{etudiant.type}}</td>
                                        <td>
                                            <a href="{{path('etudiants_edit', {id: etudiant.id})}}" title="Modifier étudiant" class="text-warging edit-student-Btn"><i class="fa fa-edit fa-lg"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
      </div>
           
    </div>
{% endblock %}
